<!DOCTYPE html>
<html>
  <head>
    <title>DOAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1ca67b13ed.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <meta property="og:title" content="DOAP" />
    <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
    <meta property="og:description"  content="Inspired by GOAT, DOAP is an e-commerce web application that brings the sneaker community together." />
    <meta property="og:url" content="https://jphan-doap.herokuapp.com/#/"/>
     <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>
    <%= yield %>
  </body>
</html>
